/* index.html */
body
{
    padding: 0 10% 0 10%;
    height: 100vh;
}

#user_pfp{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* home.html */
.post
{
    width: 100%;
}

.post .post-pfp-container
{
    width: 5%;
    min-width: 40px;
    margin-right: 10px;
}

.post .post-pfp
{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post .post-content
{
    width: 100%;
}

.post .post-text
{
    white-space: pre-line;
}

.like-button:hover{
    color: deeppink;
}

.like-button.liked{
    color: deeppink;
}

/* about.html */
#about-container{
    padding: 0 15% 0 15%;
}