{% extends "index.html" %}

{% block content %}
<div id="about-container">
    <h1 class="text-center">About Twitter Clone</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos magni accusamus asperiores, quidem earum unde aut, labore excepturi dolorem adipisci dolore molestiae delectus quisquam. Eos nobis dicta, sequi facere dignissimos, quos voluptas dolorum eum, nostrum voluptate quo veniam qui autem fugiat labore neque sit id. Vel officiis tenetur ut nobis quas ea consequuntur molestiae animi ab non impedit cum accusantium, distinctio omnis blanditiis fugiat amet. Quidem mollitia iusto perferendis voluptates quaerat dicta sapiente. A quaerat, quisquam nemo mollitia cum, adipisci explicabo esse labore quos minima voluptatem recusandae sint. Dolorem amet, mollitia numquam laborum itaque illo voluptates molestiae. At, sit exercitationem.</p>
    <h1 class="text-center">About Amir Radomislensky</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, fugiat eveniet dicta tempora mollitia laudantium dolor amet iure est culpa. Dignissimos delectus sapiente nulla reprehenderit repudiandae unde, id eligendi laboriosam possimus cum earum ipsum? Et totam impedit repellendus molestiae necessitatibus quo ipsum. Delectus a ipsa est totam consequatur similique officia temporibus incidunt harum ea esse deleniti, aperiam rem quam corrupti quas, ducimus eaque odit provident aliquid facere? Fugit veniam quis illum quo, nostrum iste in necessitatibus quisquam maxime ex. Dolorem qui enim laboriosam eius, inventore reprehenderit aut asperiores laudantium veritatis. Doloribus quod eveniet nemo aut autem eum molestiae quae repellendus!</p>
</div>
{% endblock %}

{% block script %}
{% endblock %}