{% extends "index.html" %}

{% block content %}
<div id="about-container">
    <h1 class="text-center">About Twitter Clone</h1>
    <p style="white-space: pre-line;">Twitter Clone is a showcase project to show my skills in fullstack web development

        - 📊 Database Management
        - 📞 API Management
        - 🐳 Dockerizing a web app
        - 📐 Frontend Design

        This Project has the basic functions of Twitter:

        - Login & Signup
        - Posting Tweets
        - Viewing Tweets
        - Liking Tweets</p>
    <h1 class="text-center">About Amir Radomislensky</h1>
    <p style="white-space: pre-line;">Skilled Software Engineer passionate about programming with knowledge in C , C++ , C# , Java, Python, HTML, CSS, and JS. Proficient in Git, PostgreSQL, Docker, and k8s.

Collaborates seamlessly in small and large teams, delivering exceptional software solutions. Excels at producing tidy, well-documented code for maintainability and scalability.

Quick learner and effective problem-solver. Utilizes ChatGPT for research and analysis. Committed to making a significant impact and contributing to your organization's success.</p>
</div>
{% endblock %}

{% block script %}
{% endblock %}