{% extends "index.html" %}

{% block content %}
<div class="position-relative">
    <div class="position-absolute top-25 start-0 pe-5 position-fixed" style="transform: translateX(10vw); width: 20%;">
        <textarea id="post-text" class="w-100" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="What's on your mind?" style="resize: none;" maxlength="280"></textarea>
        <button id="post-button">Tweet</button>
    </div>
    <div id="post-container" class="w-50 h-100 position-absolute top-0 start-50 translate-middle-x">
        <div class="post" style="display: none;">
            <div class="d-flex align-top">
                <div class="post-pfp-container">
                    <img class="post-pfp" src="{{url_for('static', filename='images/pfp.png')}}">
                </div>
                <div class="post-content">
                    <div class="post-title">
                        <span class="post-name">Amir Rado</span>
                        <span> · </span>
                        <span class="post-time">3h</span>
                    </div>
                    <p class="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aliquam vitae aliquid optio quod nam incidunt beatae. Explicabo suscipit earum dignissimos. Nulla maiores repellendus provident unde nemo hic veritatis incidunt porro accusantium odit ratione, officia nesciunt consequuntur vitae. Dolore, assumenda quae ex tempore ratione deserunt, harum voluptas numquam, dolorum distinctio quo labore iusto reiciendis sint sit! Dolorum porro nemo voluptatum cum magni, tempore voluptates aspernatur atque minima architecto, ab nostrum, corrupti maiores veniam perspiciatis ducimus doloribus ratione id facere itaque. Recusandae quo pariatur laborum rerum cum accusantium voluptas ea deserunt officia ipsum expedita, amet provident earum, quia perferendis eum laudantium.</p>
                </div>
            </div>
            <div>
                <i class="material-icons">favorite_border</i>
                <span></span>
                <span></span>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // Make tweet button send an api post request to post a tweet
    const postBtn = document.getElementById("post-button");
    const postTxt = document.getElementById("post-text");

    postBtn.addEventListener("click", function(e){
        const data = {"text": postTxt.value};

        fetch(window.location.origin + "/api/post-tweet", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {"Content-type": "application/json; charset=UTF-8"}
        })
        .then(response => response.json())
        .then(response => {
            if(response.done){
                location.reload()
            }
        });
    });
</script>
<script>
    //Getting 150 tweets for the user to view (need to think what to do after they view all the 150 tweets)

    post_temp = document.getElementsByClassName("post").item(0)

    const data = {"user_id": {%if current_user.is_authenticated%} {{current_user.id}} {%else%} -1 {%endif%}, "amount": 150}

    fetch(window.location.origin + "/api/recommend-tweets", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {"Content-type": "application/json; charset=UTF-8"}
    })
    .then(response => response.json())
    .then(response => {
        response.tweets.forEach(tweet_id => {
            const data = {"tweet_id": tweet_id};

            fetch(window.location.origin + "/api/get-tweet", {
                method: "POST",
                body: JSON.stringify(data),
                headers: {"Content-type": "application/json; charset=UTF-8"}
            })
            .then(response => response.json())
            .then(response => {
                new_post = post_temp.cloneNode(true)
                new_post.style.display = "block"

                pfp_element = new_post.getElementsByClassName("post-pfp").item(0)
                name_element = new_post.getElementsByClassName("post-name").item(0)
                text_element = new_post.getElementsByClassName("post-text").item(0)
                
                text_element.innerText = response.text

                const data = {"user_id": response.user_id};

                fetch(window.location.origin + "/api/profile", {
                    method: "POST",
                    body: JSON.stringify(data),
                    headers: {"Content-type": "application/json; charset=UTF-8"}
                })
                .then(response => response.json())
                .then(response => {
                    console.log(response.username)
                    name_element.textContent = response.username
                });

                set_username(response.user_id, name_element)

                set_pfp(response.user_id ,pfp_element)

                document.getElementById("post-container").appendChild(new_post)
            });
        });
    });

    function set_username(user_id, text_element){
        const data = {"user_id": user_id};

        fetch(window.location.origin + "/api/profile", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {"Content-type": "application/json; charset=UTF-8"}
        })
        .then(response => response.json())
        .then(response => {
            console.log(response.username)
            text_element.textContent = response.username
        });
    }
</script>
{% endblock %}